*{
    margin: 0;
    padding: 0;
    
}

a{
    text-decoration: none;
}
/*barra de navegacion*/
nav{
    /*background-color: #070077;*/
    height: 110px;
    width: 100%;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: rgb(2,0,36);
    background: linear-gradient(190deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 37%, rgba(0,138,166,1) 100%);
}
.enlace{
    position: fixed;
    padding: 0px 20px;
    margin-left: 30px;
    margin-top: 20px;
    background-color: transparent;
}

nav ul{
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-right: 100px;
    align-items: center;
}
nav ul li { 
    display: inline-block;
    line-height: 40px;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    font-size: 15px;
    padding: 7px 13px;
    border-radius: 1px;
    text-transform: uppercase;
    text-decoration: none;

}
li a.active, li a:hover{
    transition: .2s;
    color: white;
    text-decoration: underline;
    font-size: 20px;
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    margin-top: 15px;
    cursor: pointer;
    display: none;
}
.a-salir{
    background-color: white;
    color: black;
    border-radius: 20px;
}
.a-salir:hover{
    background-color: white;
    color: black;
    border-radius: 20px;
}
#check{
    display: none;
}
section{
    background-size: cover;
    background-position: center center;
    height: calc(100vh - 80px);
}
@media (max-width: 952px){
    .enlace{
        padding-left: 20px;
    }
    nav ul{
        text-align: center;
        background: rgb(2,0,36);
        background: linear-gradient(190deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 37%, rgba(0,138,166,1) 100%);
    }
    nav ul li a {
        font-size: 16px;
    }
}
.t-programa{
    text-align: center;
    color: black;
    padding: 10px;
    background-color: white;
}

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    nav{
        height: 90px;
    }
    nav ul{
        background: rgb(2,0,36);
        background: linear-gradient(190deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 37%, rgba(0,138,166,1) 100%);

    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 50px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul{
        text-align: center;
    }
    nav ul li a{
        color: white;
        font-size: 20px;
    }
    li a:hover, li a.active{
        background: none;
        text-decoration: underline;
        color: white;
    }
    #check:checked ~ ul{
        left:0;
    }
}

/*DIV DE PACIENTES Y TABLA DE INFORMACION*/
#pacientes{
    display: flex;
    flex-direction: row;
    width: 100%;
}
#pacientes h1{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    width: fit-content;
    flex-wrap: wrap;
    justify-content: right;
}
.pacientes{
    width: fit-content;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: right;
}
form{
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: #C7C6C6;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    justify-content: first baseline;
    width: fit-content;
}
input{
    margin: 10px;
    padding: 5px;
}
label{
    margin-left: 10px;
    margin-right: 0;
}
.btn-agregar{
    margin-top: 20px;
}

.listado-pacientes{
    margin-top: 10px;
    margin-left: 10px;
    width: 65%;
}
.div-pacientes{
    margin: 10px;
    background-color: #C7C6C6;
    border-radius: 20px;
    padding: 10px;
    border-color:#C7C6C6 2px solid;
    width: 83vw;
    height: fit-content;
}
.btn-editar{
    background-color: green;
    border-radius: 20px;
    color: white;
    padding: 3px;
}
.btn-eliminar{
    background-color: red;
    border-radius: 20px;
    color: white;
    padding: 3px;
}